.cheading {
  .heading {
    font-family: ff-real-headline-pro-2, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4vh;
  }
  .subheading {
    font-family: ff-real-headline-pro-2, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.8vh;

    // max-width: 30vw;
    margin: 1vh auto;
  }
}
