.circle {
  text-align: center;
  font-family: ff-real-headline-pro-2, sans-serif;
  figure {
    margin: 1vh 0;
    img {
      border-radius: 100%;
      background-color: transparent;
      max-width: 80%;
    }
  }

  .caption {
      .caption-heading {
        font-weight: 400;
        font-size: 2vh;
        margin-bottom: 1%;
      }
      .caption-text {
        font-weight: 300;
        font-size: 1.5vh;
        max-width: 90%;
        margin: auto;
      }
  }
}
