.blog {
  .large-heading-text {
    font-family: ff-real-headline-pro-2, sans-serif;
    color: #252525;
    font-weight: 300;
    font-size: 6vmin;
    padding-top: 5%;
    margin-bottom: 2vh;
  }

  .info {
    margin-bottom: 10vh;
  }
}
