.image-map {
  position: relative;
  .tooltip {
      position: absolute;
      color: #fff;
      padding: 1%;
      background: rgba(0,0,0,0.5);
      transform: translate3d(-10%, -50%, 0);
      border-radius: 5px;
      pointer-events: none;
      z-index: 1000;
  }
}
