.demo {
  .large-heading-text {
    font-family: ff-real-headline-pro-2, sans-serif;
    color: #252525;
    font-weight: 300;
    font-size: 6vmin;
    padding-top: 5%;
    margin-bottom: 2vh;
  }

  .info {
    margin-bottom: 10vh;
  }
  .youtube {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; overflow: hidden;
    max-width: 100%;
    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    margin-bottom: 5vh;
  }
}
