$left-margin: 10%;

.home{
  background-image: url('https://i.imgur.com/CeAEDgl.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  .heading-text {
    font-family: ff-real-headline-pro-2, sans-serif;
    color: #252525;
    font-weight: 300;
    font-style: normal;
    font-size: 5vmax;
    text-align: left;
    max-width: 75vw;
    margin-top: 0px;
    @media screen and (min-width: 992px) {
        max-width: 60vw;
    }
    padding-top: 15%;
  }
  .top-buttons {
    padding-top: 5%;
    display: flex;
    align-items: left;
    justify-content: left;
  }
  .large-heading-text {
    font-family: ff-real-headline-pro-2, sans-serif;
    color: #252525;
    font-weight: 300;
    font-size: 6vmin;
    padding-top: 5%;
    margin-bottom: 2vh;
  }
  .features {
    margin-bottom: 10vh;
    text-align: center;
    .features-r1 {
      background-color: rgba(220,220,220, 0.2);
    }
    .features-r2 {
      background-color: rgba(220,220,220, 0.2);
    }
    .centre-vertical {
      @media screen and (min-width: 600px) {
          padding-top: 50%;
      }
    }
  }
  .how-it-works {
    text-align: center;
    margin-bottom: 10vh;
    .how-it-works-r1 {
      // display: flex;
      // justify-content: space-between;
    }
  }
  .subtext {
    font-size: 1.5vh;
    padding: 0 30%;
    text-align: center;
  }

  .text {
    font-size: 1.5vh;
    padding: 0 20%;
    text-align: left;
  }

  .partners.valign-wrapper {
    text-align: center;
    margin-top: 5%;
    .row{
      align-items: center;
        img {
          max-width: 100%;
          margin: 2vh 0;
          opacity: 0.8;
        }
    }
  }
}
