@import './variables.scss';

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.blur {
   color: transparent;
   text-shadow: 0 0 8px rgba(0,0,0,1);
   filter: blur(5px);
}

body {
  margin: 0;
  padding: 0 !important;
  font-family: $font !important;
  font-size: 10px;
  color: #494F55;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #C0C0C0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #808080;
}


p, ul {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #494F55
}
