.blog-card {
  text-align: left;
  display: block;
  margin: 4em 0;
  text-decoration: none;
  .caption-heading{
    font-size: 48px;
    font-weight: bold;
    color: rgba(0,0,0,.84);
    text-rendering: optimizeLegibility;
    letter-spacing: -.03px;
    margin: 0px;
    font-family: -apple-system,BlinkMacSystemFont,Avenir,Avenir Next,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif !important;
  }
  p {
    font-size: 21px;
    letter-spacing: -.03px;
    line-height: 1.58;
    color: rgba(0,0,0,.84);
    text-rendering: optimizeLegibility;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 1em;
    font-family: -apple-system,BlinkMacSystemFont,Avenir,Avenir Next,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif !important;
  }
}
