.box {
  font-family: ff-real-headline-pro-2, sans-serif;
  figure {
    margin: 1em 0;
    img {
      background-color: transparent;
      max-width: 100%;
    }
  }
  .caption {
    .caption-heading {
      color: #494F55;
      font-weight: 700;
      font-size: 2vh;
      margin-bottom: 1%;
      text-transform: capitalize;
    }
    .caption-text {
      font-weight: 300;
      font-size: 2vh;
      max-width: 100%;
      margin: auto;
    }
  }
}
